@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('./normalize.scss');
@import url('./flex.scss');
@import url('./margin.scss');

html, body, #app {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #475fff;
  color: #fff;
}